In [1]:
# Import dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Nikolskoye,RU,2022-01-29 14:43:18,59.7035,30.7861,24.80,96,99,6.49
1,1,Iona,US,2022-01-29 14:43:16,26.5204,-81.9640,55.00,53,0,5.99
2,2,Rikitea,PF,2022-01-29 14:43:06,-23.1203,-134.9692,76.32,78,100,9.75
3,3,Ribeira Grande,PT,2022-01-29 14:46:39,38.5167,-28.7000,64.80,52,20,5.75
4,4,Mataura,NZ,2022-01-29 14:43:12,-46.1927,168.8643,62.47,86,100,2.13

In [2]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [4]:
# Heatmap of maximum temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Heatmap of percent humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
humidity = city_data_df["Humidity"]
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
clouds = city_data_df["Cloudiness"]
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of wind speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
wind = city_data_df["Wind Speed"]
    
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Rikitea,PF,2022-01-29 14:43:06,-23.1203,-134.9692,76.32,78,100,9.75
7,7,Waingapu,ID,2022-01-29 14:46:56,-9.6567,120.2641,79.86,81,100,8.61
8,8,Cape Town,ZA,2022-01-29 14:43:56,-33.9258,18.4232,75.61,59,0,5.99
15,15,Lichtenburg,ZA,2022-01-29 14:47:12,-26.1520,26.1597,76.24,52,48,15.57
18,18,Butaritari,KI,2022-01-29 14:43:05,3.0707,172.7902,81.16,81,57,16.91
22,22,Bredasdorp,ZA,2022-01-29 14:43:13,-34.5322,20.0403,83.28,50,1,14.97
25,25,Mar Del Plata,AR,2022-01-29 14:47:29,-38.0023,-57.5575,77.02,55,0,8.99
27,27,Carnarvon,AU,2022-01-29 14:44:46,-24.8667,113.6333,77.07,88,75,9.22
29,29,Hambantota,LK,2022-01-29 14:44:59,6.1241,81.1185,79.14,100,20,2.30
30,30,Atuona,PF,2022-01-29 14:47:42,-9.8000,-139.0333,76.73,76,0,12.21

In [10]:
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2         Rikitea      PF     76.32 -23.1203 -134.9692
7        Waingapu      ID     79.86  -9.6567  120.2641
8       Cape Town      ZA     75.61 -33.9258   18.4232
15    Lichtenburg      ZA     76.24 -26.1520   26.1597
18     Butaritari      KI     81.16   3.0707  172.7902
22     Bredasdorp      ZA     83.28 -34.5322   20.0403
25  Mar Del Plata      AR     77.02 -38.0023  -57.5575
27      Carnarvon      AU     77.07 -24.8667  113.6333
29     Hambantota      LK     79.14   6.1241   81.1185
30         Atuona      PF     76.73  -9.8000 -139.0333

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Rikitea,PF,76.32,-23.1203,-134.9692,People ThankYou
7,Waingapu,ID,79.86,-9.6567,120.2641,Pondok Wisata Elim
8,Cape Town,ZA,75.61,-33.9258,18.4232,Southern Sun Waterfront Cape Town
15,Lichtenburg,ZA,76.24,-26.1520,26.1597,Kennzy Guest House
18,Butaritari,KI,81.16,3.0707,172.7902,Isles Sunset Lodge
22,Bredasdorp,ZA,83.28,-34.5322,20.0403,Bredasdorp Country Manor
25,Mar Del Plata,AR,77.02,-38.0023,-57.5575,Gran Hotel Mar del Plata
27,Carnarvon,AU,77.07,-24.8667,113.6333,Hospitality Carnarvon
29,Hambantota,LK,79.14,6.1241,81.1185,Bungalow 63
30,Atuona,PF,76.73,-9.8000,-139.0333,Villa Enata

In [13]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

In [15]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [16]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
                                max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))