## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tutoia,BR,-2.7619,-42.2744,89.58,62,100,11.27,light rain
1,1,Ushuaia,AR,-54.8000,-68.3000,47.86,66,75,23.02,broken clouds
2,2,Concepcion,CL,-36.8270,-73.0498,69.60,68,75,14.97,broken clouds
3,3,Amapa,BR,1.0000,-52.0000,81.72,77,92,4.05,overcast clouds
4,4,Tuktoyaktuk,CA,69.4541,-133.0374,-2.20,78,100,16.11,light snow

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tutoia,BR,-2.7619,-42.2744,89.58,62,100,11.27,light rain
3,3,Amapa,BR,1.0000,-52.0000,81.72,77,92,4.05,overcast clouds
6,6,Chuy,UY,-33.6971,-53.4616,79.66,55,99,12.64,overcast clouds
8,8,Hithadhoo,MV,-0.6000,73.0833,82.27,68,100,8.34,overcast clouds
9,9,Salalah,OM,17.0151,54.0924,75.29,69,0,4.61,clear sky
17,17,Vao,NC,-22.6667,167.4833,79.25,87,99,11.79,overcast clouds
18,18,Souillac,MU,-20.5167,57.5167,80.98,78,75,13.80,light rain
19,19,Kruisfontein,ZA,-34.0033,24.7314,77.88,75,78,16.84,broken clouds
21,21,Bengkulu,ID,-3.8004,102.2655,76.51,92,100,4.76,moderate rain
23,23,Touros,BR,-5.1989,-35.4608,88.70,63,22,15.86,few clouds

In [10]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Tutoia,BR,-2.7619,-42.2744,89.58,62,100,11.27,light rain
3,3,Amapa,BR,1.0000,-52.0000,81.72,77,92,4.05,overcast clouds
6,6,Chuy,UY,-33.6971,-53.4616,79.66,55,99,12.64,overcast clouds
8,8,Hithadhoo,MV,-0.6000,73.0833,82.27,68,100,8.34,overcast clouds
9,9,Salalah,OM,17.0151,54.0924,75.29,69,0,4.61,clear sky
...,...,...,...,...,...,...,...,...,...,...
685,685,Yambio,SS,4.5721,28.3955,80.46,22,84,2.84,broken clouds
686,686,Tamandare,BR,-8.7597,-35.1047,83.34,70,84,10.25,broken clouds
687,687,Tubuala,PA,9.5167,-79.0333,88.34,63,71,13.15,broken clouds
689,689,Santa Rosa,PH,14.3122,121.1114,79.09,82,9,8.99,clear sky
699,699,Lubao,PH,14.9167,120.5500,78.82,87,47,5.41,scattered clouds

In [12]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tutoia,BR,89.58,light rain,-2.7619,-42.2744,
3,Amapa,BR,81.72,overcast clouds,1.0000,-52.0000,
6,Chuy,UY,79.66,overcast clouds,-33.6971,-53.4616,
8,Hithadhoo,MV,82.27,overcast clouds,-0.6000,73.0833,
9,Salalah,OM,75.29,clear sky,17.0151,54.0924,
17,Vao,NC,79.25,overcast clouds,-22.6667,167.4833,
18,Souillac,MU,80.98,light rain,-20.5167,57.5167,
19,Kruisfontein,ZA,77.88,broken clouds,-34.0033,24.7314,
21,Bengkulu,ID,76.51,moderate rain,-3.8004,102.2655,
23,Touros,BR,88.70,few clouds,-5.1989,-35.4608,

In [13]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tutoia,BR,89.58,light rain,-2.7619,-42.2744,Pousada Guará's
3,Amapa,BR,81.72,overcast clouds,1.0000,-52.0000,
6,Chuy,UY,79.66,overcast clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
8,Hithadhoo,MV,82.27,overcast clouds,-0.6000,73.0833,Scoop Guest House
9,Salalah,OM,75.29,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
17,Vao,NC,79.25,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
18,Souillac,MU,80.98,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
19,Kruisfontein,ZA,77.88,broken clouds,-34.0033,24.7314,Oyster Bay House Rental
21,Bengkulu,ID,76.51,moderate rain,-3.8004,102.2655,Grage Hotel Bengkulu
23,Touros,BR,88.70,few clouds,-5.1989,-35.4608,INN NEW HORIZON

In [30]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != '']
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Tutoia,BR,89.58,light rain,-2.7619,-42.2744,Pousada Guará's
6,Chuy,UY,79.66,overcast clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
8,Hithadhoo,MV,82.27,overcast clouds,-0.6000,73.0833,Scoop Guest House
9,Salalah,OM,75.29,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
17,Vao,NC,79.25,overcast clouds,-22.6667,167.4833,Hotel Kou-Bugny
18,Souillac,MU,80.98,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
19,Kruisfontein,ZA,77.88,broken clouds,-34.0033,24.7314,Oyster Bay House Rental
21,Bengkulu,ID,76.51,moderate rain,-3.8004,102.2655,Grage Hotel Bengkulu
23,Touros,BR,88.70,few clouds,-5.1989,-35.4608,INN NEW HORIZON
24,Arraial Do Cabo,BR,89.56,broken clouds,-22.9661,-42.0278,Pousada Porto Praia

In [32]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.6)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))